

#preloader {
	height: 10px;
}

.progress {
	margin-top: 0;
}

/*Body*/
body {
	background-color: #eceff1;
}

/*Search Form*/

/* Buttons */
.buttons {
	text-align: right;
	margin-top: 1%;
	margin-right: 7%;
}

#searchBtn {
	text-transform: capitalize;
	margin-right: 1%;
}

#randomBtn {
	text-transform: capitalize;
}

.searchResults {
	margin-top: 90px;
}


#results >li:hover {
	margin-left: -3px;
	border-left: 3px solid #e91e63;
}

li:hover .collapsible-header {
	font-weight: bold;
}

/* Footer */
.footer {
	width: 100%;
	font-family: Roboto;
	text-align: center;
}
